#main{
  display:flex;
}
#sidenav{
  justify-content: center;
  width:90%;
  height:10%;
  display:grid;
  margin-top:10%;
  margin-left:0%;
  font-family:"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing:2px;
  text-transform:uppercase;
}
#sidenav a{
  font-size:14px;
  text-decoration:none;
  color:black;
  margin-bottom:10px;
}
#sidenav a:hover{
  color:#1b998b;
}

h4{
  font-size:20px;
  font-weight:600;
  color:#1b998b;
}

#claire{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:50%;
  padding:20px;
}
#dalecarnegie{
  max-width:50%;
  height:auto;
  margin-bottom:50%;
  padding-right: 50px;
}

#abtclaire{
    display:block;
    margin: 50px;
    font-family: adobe-garamond-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.6em;
    color: rgba(26,26,26,.7);
    margin-left:10%;
    margin-right:15%;
  }

#proexp{
      display:block;
      font-family: adobe-garamond-pro;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      letter-spacing: 0px;
      line-height: 1.6em;
      color: rgba(26,26,26,.7);
      margin-left:0%;
      margin-right:10%;
    }

#proexp ul{
  list-style-type:none;
}
.check{
  color:#1b998b;
}
#proexp li{
  padding: 5px;
}
#needic{
  font-style: italic;
}
#needb{
  font-weight:bold;
}

section h1, section h3{
  text-align:center;
}

#abtclaire .socialbtns{
  display:flex !Important;
  margin-left:auto;
  margin-right:auto;
  width:30%;
  justify-content: space-around;

}
#abtclaire .socialbtns button{
  background-color:white;
  color:black;
  font-size:25px;
  padding-top:50px;
  width:7%;
  text-align:center;
}
#abtclaire .socialbtns button:hover{
  color:#1b998b;
}

#imgcap{
  display:flex!Important;
}
