
article{
  display:block;
  margin: 50px;
  font-family: adobe-garamond-pro;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.6em;
  color: rgba(26,26,26,.7);
}

h1{
  text-align:center;
  font-size: 40px;
  color:black;
}
h2{
  text-align: center;
  font-size:30px;
  font-style: italic;
  font-weight: 200;
  color:black;
}

#mission{
  margin-left:22%;
  margin-right:22%;
}
ul{
  list-style-type:none;
}
.check{
  color:#1b998b;
}

#about, #services{
  display:flex;
  justify-content: space-around;
  margin-left:10%;
  margin-right:10%;
  margin-top:7%;
  padding:10px;
}
#abtcontent,#servicecontent{
  text-align: center;
}
img{
  max-width:50%;
  height:auto;
}
.button{
  font-family:"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:300;
  letter-spacing:2px;
  text-transform:uppercase;
  line-height:1em;
  background-color: #1b998b;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: .4s;
  border-radius: 30px;
  opacity:1;
}

.button:hover{
  opacity:.7;
}
